@media screen and (max-width: 1360px){
    .rectangle-decor-right{
        display: none;
    }

    .rectangle-decor-left{
        display: none;
    }
}

@media screen and (max-width:1250px){
    /* ---------------------------- menu --------------------------- */

    .menu {
        padding: 0 25px;
    }

    /*  ---------------------- header --------------------------- */

    .header-container{
        padding: 0 25px;
    }

    /*  ---------------------- main --------------------------- */

    main {
        padding: 25px 25px;
    }

    /* ------------------- main - container ---------------- */

    .main-container {
        padding-top: 25px;
        margin-bottom: 25px;
    }

    /* ------------------------ types ------------------------- */

    .types-container {
        max-width: 1180px;
        width: 100%;
        gap: 25px;
    }

    .type-block {
        padding: 25px;
        gap: 15px;
        /* background-position: center; */
        background-position:50% 50%;
    }

    /* ---------------------- comments -------------------------  */

    .comments-container {
        margin-top: 50px;
    }

    .comments-container__slider {
        top: 100px;
    }

    .comments__arrow-container {
        margin-top: 300px;
        margin-bottom: 30px;
    }

    /*  ---------------------- footer --------------------------- */

    footer {
        padding: 25px;
    }

    .footer-container {
        padding: 25px 0;
    }

    .social-container {
        gap: 25px;
    }

    /* ---------------------------------- items -------------------------------------------*/

    /* -------------------- decor ------------------- */
    .decor-grid-container {
        display: none;
    }
}

@media screen and (max-width:1050px){
    body {
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }    

    /* ---------------------------- menu --------------------------- */

    .menu {
        height: auto;
        padding: 5px;
    }
    
    .menu__link {
        font-size: 16px;
        line-height: 20px;
    }

    /*  ---------------------- header --------------------------- */

    header {
        height: 300px;
        padding-top: 100px;
    }

    #header-types-button {
        border-color: #FFB373;
        background-color: rgba(255, 179, 115, .8);
    }

    header * {
        text-shadow: #FFB373 3px 3px 5px;
    }

    /*  ---------------------- main --------------------------- */ 

    .main-container__image {
        width: 50%;
        height: auto;
        object-fit: contain;
    }

    /* ------------------------ types ------------------------- */

    .type-block__title {
        font-size: 40px;
        line-height: 55px;
    }

    /* ---------------------- characteristic -------------------------  */

    .characteristic__text{
        font-size: 16px;
        line-height: 22px;
    }

    .characteristic__image-svg {
        width: 60px;
        height: 60px;
    }
    
    .characteristic {
        gap: 25px;    
    }
    /* ---------------------- comments -------------------------  */

    .comments-container {
        margin-top: 30px;
    }

    .comments-container__slider {
        top: 70px;
    }

    .comments__arrow-container {
        margin-top: 300px;
    }

    /*  ---------------------- footer --------------------------- */

    .footer-container {
        flex-direction: column-reverse;
        gap: 25px;
    }

    /* --------- form ---------- */

    .email-form {
        max-width: 400px;
        height: 50px;
        display: flex;
        
    }
    
    .email-form__input {
        height: auto;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.5);
        padding-left: 20px;
    }
    
    .email-form__button {
        width: 30%;
        height: auto;
        /* padding: 0 10px; */
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
    }

    /* ---------------------------------- items -------------------------------------------*/

    .logo {
        font-size: 25px;
        line-height: 28px;
    }

    .title {
        font-size: 50px;
        line-height: 57px;
    }

    .paragraph {
        font-size: 16px;
        line-height: 21px;
    }

    /* -------buttons --------- */

    .button {
        font-size: 18px;
        line-height: 22px;
        white-space: nowrap;
    }

    .button_size_big , .button_size_middle {
        padding: 10px;
        width: 180px;
        height: auto;
    }


    .floor-selection-container {
        padding: 20px;
        display: grid;
        grid-template-areas: "a b" "c d";
        max-width: 280px;
    }

    .button_size_small {
        width: auto;
        padding: 10px;
    }

    #start-vocation-button {
        width: auto;
    }

    #comment-button {
        width: auto;
    }
     
}


@media screen and (max-width: 700px){

    /* ---------------------------- menu --------------------------- */

    /* ------------------------ header --------------------------- */

    header {
        padding-top: 0;
    }

    .header-container {
        padding: 10px;
        gap: 10px;
    }

    .header-container > .paragraph {
        width: 60%;
    }

    .header__menu > .menu__item {
        display: none;
    }

    .header__menu > .logo {
        display: block;
    }

    /*  ---------------------- main --------------------------- */

    main {
        padding: 5px; 
        width: 100%;
        box-sizing: border-box;
    }

    /* ------------------- main - container ---------------- */

    .main-container {
        flex-direction: column;
        padding: 0 5px;
        margin-left: 0;
        margin-right: 0;
        position: relative;
    }

    .main-container__image{
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .main-container__text-container {
        position: relative;
        gap: 10px;
        max-width: 700px;
        width: 100%;
    }

    .about-us-container > .main-container__image{
        display: none;
    }

    /* ------------------------ types ------------------------- */

    .type-block__title {
        font-size: 25px;
        line-height: 35px;
    }

    .type-block{
        gap: 5px;
        padding: 10px;
    }

    /* ---------------------- characteristic -------------------------  */

    .characteristic__item{
        flex-direction: column;
        gap: 5px;
    }

    

    .characteristic {
        gap: 5px;
        padding: 0;
        width: 100%;
    }

    .characteristic__text{
        font-size: 14px;
        line-height: 20px;
        width: auto;
    }

    .characteristic__image-svg {
        width: 40px;
    }

    /* ---------------------- comments -------------------------  */

    .comments-container__slider {
        gap: 50px;
        height: 300px;
        top: 50px;
    }

    .comments-container__comment {
        padding: 15px;
        height: 200px;
    }

    #comment-button {
        width: auto;
    }

    .comments__arrow-container {
        margin-top: 250px;
        gap: 30px;
    }

    .comments-container-paragraph {
        font-size: 16px;
        max-width: 349px;
        width: 80vw;
        line-height: 130%;
        /* resize: inherit !important; */
    }

    .comments-container__user-name {
        font-size: 20px;
        line-height: 25px;
    }

    /*  ---------------------- footer --------------------------- */

    .footer__menu > a {
        display: none;
    }

    .footer__menu {
        justify-content: center;
    }

    footer {
        padding: 10px;
        margin-top: 25px;
    }

    .footer-container {
        gap: 10px;
        padding: 0;
    }

    /* --------- form ---------- */

    .email-form {
        width: 80%;
        height: auto;
    }

    .email-form__input {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .email-form__button {
        font-size: 14px;
        line-height: 20px;
    }

    /* ---------------------------------- items -------------------------------------------*/

    .title {
        font-size: 35px;
        line-height: 42px;
    }

    .paragraph {
        max-width: 700px;
        width: 100%;
    }

    /* -------buttons --------- */

    .button {
        font-size: 14px;
        line-height: 20px;
    }

    .button_size_middle , .button_size_big{
        padding: 5px;
        height: auto;
        width: 120px;
    }

    .floor-selection-container {
        grid-template-areas: "a" "b" "c" "d";
        max-width: 450px;
        max-height: 300px;
        padding: 5px;
        gap: 5px;
        box-sizing: border-box;
        position: absolute;
        z-index: 5;
        bottom: -246px;
        left: 3px;
        background-color: rgba(250, 250, 250, 0.5);
    }

    #start-vocation-button {
        align-self: center;
    }

}

@media screen and (max-width: 500px) {

    /* ---------------------- comments -------------------------  */

    .comments-container__comment {
        width: 90%;
    }
    
}


@media screen and (max-width:320px){
    .characteristic {
        display: none;
    }

    .header-container > .paragraph {
        display: none;
    }
}